$gray: rgba(125, 125, 125, 0.5);

@mixin unselectable() {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

:host {
  font-family: sans-serif;
  margin: auto;
  display: flex;

  .drop-container {
    display: inline-flex;
    border-radius: 4px;
    border: 2px solid $gray;
    position: relative;
    justify-content: center;

    &:after {
      content: '';
      margin: auto 5px auto auto;
      width: 0;
      height: 0;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-top: 7px solid $gray;
      transition: 0.15s ease-in-out;
    }

    &:hover {
      cursor: pointer;
    }

    &--open {

      &:after {
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 7px solid $gray;
        border-top: 0;
      }
    }

    &__selected {
      padding: 5px 10px;
      min-width: 150px;
      @include unselectable();

      &__color {
        width: 10px;
        height: 10px;
        display: inline-flex;
        border-radius: 100%;
      }
    }

    &--list-top {

      ul {
        bottom: 100%;
        margin: 0 0 15px 0;
      }
    }

    &--list-bot {

      ul {
        top: 100%;
        margin: 15px 0 0 0;
      }
    }

    &__list {
      background-color: rgba(250, 250, 250, 1);
      display: none;
      position: absolute;
      left: 0;
      padding: 0;
      width: 100%;
      border-radius: 4px;
      max-height: 250px;
      overflow-y: scroll;

      &:before {
        position: absolute;
        content: '';
        top: -7px;
        right: 5px;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 7px solid rgba(250, 250, 250, 1);
      }

      &--open {
        display: flex;
        flex-direction: column;
      }

      &__el {
        list-style: none;
        padding: 10px;
        margin: 0;
        position: relative;
        transition: 0.35s ease-in-out;
        border-bottom: 1px solid $gray;
        @include unselectable();

        &:last-of-type {
          border-bottom: none;
        }

        &:before {
          content: '';
          position: absolute;
          left: 2px;
          top: 50%;
          transform: translateY(-50%);
          width: 0;
          height: 0;
          transition: 0.10s ease-in-out;
        }

        &:hover {
          cursor: pointer;

          &:before {
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            border-left: 5px solid $gray;
          }
        }
      }
    }
  }
}
