<div class="drop-container"
     [ngClass]="isOpen ? 'drop-container--open' : ''"
     appDropDown
     [setIsOpen]="isOpen"
     (click)="setOpen()">
  <span class="drop-container__selected">
    <span *ngIf="technicienSelect"
          [ngStyle]="getTechnicienColor(technicienSelect)"
          class="drop-container__selected__color"></span>
    {{ technicienSelect ? technicienSelect.name : 'Sélectionner un technicien' }}
  </span>
  <ul [ngClass]="isOpen ? 'drop-container__list--open' : ''"
      class="drop-container__list">
    <li *ngFor="let technicien of techniciens"
        (click)="selectValue(technicien)"
        [ngStyle]="getTechnicienStyle(technicien)"
        class="drop-container__list__el">
      {{ technicien.name }}
    </li>
  </ul>
</div>
